@import '~@angular/material/core/theming/all-theme';
@import '~@angular/material/core/theming/palette';

// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-blue-grey, 800, 700, 900);
$accent:  mat-palette($mat-blue-grey, 50, 50, 300);
// The warn palette is optional (defaults to red).
$warn:    mat-palette($mat-purple, 500, 300, 700);

$theme: mat-dark-theme($primary, $accent, $warn);

// Include all theme styles for the components.
@include angular-material-theme($theme);

html,
body {
  background: mat-color($primary, 900);
  color: mat-contrast($primary, 800);
}

// md-list-item {
//   background: md-color($primary, 600);
// }

// md-list > md-list-item:nth-child(odd),
// md-list > *:nth-child(odd) md-list-item {
//   background: md-color($primary, 700);
// }
