<div>
  <header>
    <wl-main-heading>Available now</wl-main-heading>
  </header>
  <section>
    <md-list>
      <div *ngFor="let group of groupedItems$ | async">
        <h3 md-subheader [title]="group.date | amDateFormat:'dddd, D MMMM YYYY'">{{ group.date | amTimeAgo }}</h3>
        <wl-episode-list-item
          *ngFor="let item of group.items; trackBy:getItemId"
          [name]="item.show.name"
          [category]="item.show.category"
          [season]="item.season"
          [episode]="item.episode">
          <wl-postpone [showId]="item.show._id" [episodeId]="item._id"></wl-postpone>
          <wl-watched-toggle [showId]="item.show._id" [episodeId]="item._id" [watched]="item.watched"></wl-watched-toggle>
        </wl-episode-list-item>
      </div>
    </md-list>
  </section>
</div>
