<form [formGroup]="newShowForm" novalidate>
  <wl-main-heading>New show</wl-main-heading>
  <div class="form-row">
    <md-input-container class="full-width">
      <input mdInput placeholder="Name" formControlName="name" required>
    </md-input-container>
  </div>

  <div class="form-row">
    <md-select formControlName="category" placeholder="Category" required>
      <md-option *ngFor="let c of categories" [value]="c._id">{{ c.label }}</md-option>
    </md-select>

    <span formGroupName="recurring" *ngIf="isRecurring(newShowForm.get('category').value)">
      <md-select formControlName="frequency" placeholder="Frequency" required>
        <md-option *ngFor="let f of frequencies" [value]="f._id">{{ f.label }}</md-option>
      </md-select>
    </span>
  </div>

  <div class="form-row">
    <md-input-container>
      <input mdInput type="date" placeholder="Premiere date" formControlName="premiereDate" wlValueToDate required>
    </md-input-container>
  </div>

  <div formGroupName="recurring" *ngIf="isRecurring(newShowForm.get('category').value)" class="form-row">
    <md-input-container class="w120">
      <input mdInput
        required
        type="number"
        placeholder="Season #"
        size="6"
        min="1" max="99"
        formControlName="season">
    </md-input-container>

    <md-input-container class="w120">
      <input mdInput
        required
        type="number"
        placeholder="# of episodes"
        size="8"
        min="1" max="999"
        formControlName="episodes">
    </md-input-container>
  </div>

  <div *ngIf="isRecurring(newShowForm.get('category').value)" class="form-row">
    <wl-episodes-preview
      [disabled]="!(newShowForm.get('recurring').valid && newShowForm.get('premiereDate').valid)"
      [premiereDate]="newShowForm.get('premiereDate').value"
      [frequency]="newShowForm.get('recurring.frequency').value"
      [season]="newShowForm.get('recurring.season').value"
      [episodes]="newShowForm.get('recurring.episodes').value">
    </wl-episodes-preview>
  </div>

  <div class="text-right form-row">
    <button md-icon-button (click)="cancel()" title="Cancel"><md-icon>cancel</md-icon></button>
    <button md-icon-button [disabled]="!newShowForm.valid" (click)="save()" title="Save"><md-icon>save</md-icon></button>
  </div>

</form>
