:host {
  width: 100%;
}

form {
  max-width: 300px;
  margin: 0 auto;
}

.form-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.w120 {
  width: 120px;
}

.text-right {
  text-align: right;
}
