@import '~@angular/material/core/theming/theming';
@import './themes/midnight-clouds';

* {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: md-color($primary, 900);
  color: md-contrast($primary, 800);
}

/*** Material ***/
.md-menu-content.md-menu-content {
  padding: 0;
}
