@import '~@angular/material/core/theming/theming';
@import './themes/midnight-clouds';

* {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*** Material ***/
.md-menu-content.md-menu-content {
  padding: 0;
}

wl-episode-list-item > .episode.episode > .mat-list-item-content.mat-list-item-content {
  height: 56px;
}
