<div>
  <header>
    <wl-main-heading>Coming soon</wl-main-heading>
  </header>
  <section>
    <md-list>
      <div *ngFor="let group of groupedItems$ | async">
        <h3 md-subheader class="divider" [title]="group.date | amDateFormat:'dddd, D MMMM YYYY'">{{ group.date | amTimeAgo }}</h3>
        <wl-episode-list-item
          *ngFor="let item of group.items; trackBy:getItemId"
          [name]="item.show.name"
          [category]="item.show.category"
          [season]="item.season"
          [episode]="item.episode">
        </wl-episode-list-item>
      </div>
    </md-list>
  </section>
  <button class="load-more" *ngIf="hasEpisodes" md-button (click)="loadMore()" [disabled]="isFetching$ | async" title="Load more">
    <md-icon>expand_more</md-icon>
  </button>
</div>
