<form [formGroup]="newShowFormFb" novalidate>
  <md-input-container>
    <input md-input placeholder="Name" formControlName="name">
  </md-input-container>

  <md-radio-group formControlName="type">
    <md-radio-button *ngFor="let st of showTypes" [value]="st.code">
      {{st.label}}
    </md-radio-button>
  </md-radio-group>

  <md-input-container>
    <input md-input type="date" placeholder="Premiere date" formControlName="premiereDate">
  </md-input-container>

  <div formGroupName="recurring" *ngIf="isRecurring(newShowFormFb.get('type').value)">
    <md-input-container>
      <input md-input
        type="number"
        placeholder="Season #"
        size="2"
        min="1" max="99"
        formControlName="season">
    </md-input-container>

    <md-input-container>
      <input md-input
        type="number"
        placeholder="# of episodes"
        size="3"
        min="1" max="999"
        formControlName="episodes">
    </md-input-container>


    <md-radio-group formControlName="frequency">
      <md-radio-button *ngFor="let sf of showFrequencies" [value]="sf.code">
        {{sf.label}}
      </md-radio-button>
    </md-radio-group>

  </div>

</form>

<pre>
{{ newShowFormFb.value | json }}

---------------------------

{{ newShowFormFb.valid }}

</pre>
