:host:before {
  content: '';
  position: absolute;
  width: 0;
	height: 0;
	border-top: 30px solid red;
	border-right: 40px solid transparent;
  z-index: -1;
}

.icon {
  margin-left: 5px;
  margin-top: 5px;
}
