.logo {
  width: 50px;
  height: 50px;
  font-size: 50px;
  margin: 0;
  display: inline-block;
  float: left;
}

.logo-text {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  display: inline-block;
  font-size: 30px;
  float: left;
}

header {
  width: 100%;
  height: 100%;
}

:host:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  animation: rainbow 120s ease infinite;
}

@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
